/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body main section.bg-image .header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
body header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 100px;
  padding-right: 78px;
}
body header img {
  width: 33px;
  height: 42px;
}
body header nav ul {
  display: flex;
  gap: 50px;
}
body header nav ul li {
  color: rgb(99, 96, 96);
  font-size: 18px;
  transition: all linear 1.2s;
}
body header nav ul li:hover {
  font-size: 30px;
  cursor: pointer;
}
@media (max-width: 764px) {
  body header nav ul {
    flex-direction: column;
    gap: 0;
  }
}
@media (max-width: 480px) {
  body header nav ul {
    display: none;
  }
}
body header .burger-menu {
  display: none;
}
@media (max-width: 480px) {
  body header .burger-menu {
    display: block;
  }
}
@media (max-width: 480px) {
  body header {
    padding: 24px 20px;
  }
}
body main section.bg-image {
  max-width: 1440px;
  width: 100%;
  height: 600px;
  background-image: url("/images/main-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
body main section.bg-image .header {
  color: white;
  text-align: center;
}
body main section.bg-image .header h1 {
  font-size: 80px;
  margin-bottom: 32px;
  font-weight: bold;
}
body main section.bg-image .header p {
  font-size: 20px;
}
body main section.tours {
  padding: 85px 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
}
body main section.tours .left-side {
  min-width: 240px;
  width: 240px;
}
body main section.tours .left-side p,
body main section.tours .left-side span {
  color: rgb(99, 96, 96);
  font-size: 17px;
  margin-bottom: 10px;
}
body main section.tours .left-side span {
  font-size: 20px;
}
body main section.tours .left-side .header {
  font-size: 28px;
  margin-bottom: 40px;
}
@media (max-width: 1450px) {
  body main section.tours .left-side {
    text-align: center;
    width: 600px;
  }
}
body main section.tours .right-side {
  width: 920px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
body main section.tours .right-side .tour-item {
  width: 290px;
  margin-bottom: 56px;
}
body main section.tours .right-side .tour-item img {
  margin-bottom: 24px;
}
body main section.tours .right-side .tour-item h4 {
  margin-bottom: 10px;
  font-size: 20px;
  color: rgb(52, 50, 50);
}
body main section.tours .right-side .tour-item p {
  font-size: 18px;
  color: rgb(99, 96, 96);
}
@media (max-width: 1100px) {
  body main section.tours .right-side {
    justify-content: space-around;
  }
}/*# sourceMappingURL=styles.css.map */