@use "reset";
@use "variables";
@use "placeholders";
@use "mixins";
@use "media";

body {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 100px;
    padding-right: 78px;

    img {
      width: 33px;
      height: 42px;
    }

    nav {
      ul {
        display: flex;
        gap: 50px;

        li {
          color: variables.$primary-color;
          font-size: variables.$hd-f-s;
          transition: all linear 1.2s;

          &:hover {
            font-size: 30px;
            cursor: pointer;
          }
        }

        @media (max-width: 764px) {
          flex-direction: column;
          gap: 0;
        }

        @media (max-width: 480px) {
          display: none;
        }
      }
    }

    .burger-menu {
      display: none;

      @media (max-width: 480px) {
        display: block;
      }
    }

    @media (max-width: 480px) {
      padding: 24px 20px;
    }
  }

  main {
    section.bg-image {
      max-width: 1440px;
      width: 100%;
      height: 600px;
      background-image: url("/images/main-bg.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: relative;

      .header {
        @extend %position-center;
        color: white;
        text-align: center;

        h1 {
          font-size: 80px;
          margin-bottom: 32px;
          font-weight: bold;
        }

        p {
          font-size: 20px;
        }
      }
    }
    section.tours {
      padding: 85px 100px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 80px;

      .left-side {
        min-width: 240px;
        width: 240px;

        p,
        span {
          color: variables.$primary-color;
          font-size: 17px;
          margin-bottom: 10px;
        }

        span {
          font-size: 20px;
        }

        .header {
          font-size: 28px;
          margin-bottom: 40px;
        }

        @media (max-width: 1450px) {
          text-align: center;
          width: 600px;
        }
      }

      .right-side {
        width: 920px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .tour-item {
          width: 290px;
          margin-bottom: 56px;

          img {
            margin-bottom: 24px;
          }

          h4 {
            margin-bottom: 10px;
            font-size: 20px;
            color: rgba(52, 50, 50, 1);
          }

          p {
            font-size: 18px;
            color: variables.$primary-color;
          }
        }

        @media (max-width: 1100px) {
          justify-content: space-around;
        }
      }
    }
  }
}
